.git
.gitignore
.github
.idea
.gradle
*.iml
admin-server
output
*.md
*.py
LICENSE
local.properties
**/.DS_Store
**/build
**/obj
TMessagesProj/.cxx
TMessagesProj/jniLibs
TMessagesProj/jniRes
TMessagesProj/afat
TMessagesProj_App/afat
TMessagesProj_AppHockeyApp/afat
TMessagesProj_AppStandalone/afat
TMessagesProj_AppHuawei/afat
deploy.sh
docker-compose.yml
.env
.env.example
